.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.container span{
    background-color: gold;
    color: white;
    padding: 15px;
    margin: 10pxpx;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.container p{
    margin: 20px;
}
.container .btn{
    margin-top: -10px;
    width: 150px;
    background-color: gold;
    color: white;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
    border-radius: 20px;
}
.button{
align-items: center;
background-clip: padding-box;
background-color: gold;
border: 1px solid transparent;
border-radius: .25rem;
box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
box-sizing: border-box;
color: #fff;
cursor: pointer;
display: inline-flex;
font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 16px;
font-weight: 600;
justify-content: center;
line-height: 1.25;
margin: 0;
min-height: 3rem;
padding: calc(.875rem - 1px) calc(1.5rem - 1px);
position: relative;
text-decoration: none;
transition: all 250ms;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: baseline;
width: auto;
}